
@mixin font($size, $ln-height, $font-weight) {
  font-size: rem($size);
  line-height: rem($ln-height);
  font-weight: $font-weight;
}

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}
